<div class="container mt-5">
    <h2>List of Currencies</h2>
    <a class="btn btn-primary mt-5 mb-3" routerLink="currency/add/0">Add Currency</a>
    
    <button class="btn btn-secondary ml-3 mt-5 mb-3 float-right" (click)="exportToCsv()">
        <i class="fas fa-external-link-alt"></i>
        Export to CSV
    </button>
    <button class="btn btn-secondary ml-3 mt-5 mb-3 float-right" (click)="exportElmToExcel()">
        <i class="fas fa-external-link-alt"></i>
        Export To Excel
    </button>
    <div class="table-responsive">
        <table class="table" #currencyTable>
            <thead>
            <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col" sortable="country" (sort)="onSort($event)">Country</th>
                <th scope="col" sortable="currencyName" (sort)="onSort($event)">Name</th>
                <th>Code</th>
                <th>Symbol</th>
                <th>Symbol/Code</th>
                <th> Before/After Price</th>
                <th>Cents/No Cents</th>
                <th>Format Currency</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let currency of currenciesTable">
                    <!-- <th scope="row">{{ currency.id }}</th> -->
                    <td >{{ currency.country }}</td>
                    <td >{{ currency.currencyName }}</td>
                    <td>{{ currency.currencyCode }}</td>
                    <td>{{ currency.currencySymbol }}</td>
                    <td>{{ currency.displayCodeSymbol ? 'Code' : 'Symbol' }}</td>
                    <td>{{ currency.displayBeforeAfterPrice ? 'Before Price' : 'After Price' }}</td>
                    <td>{{ currency.displayCents ? 'Cents' : 'No Cents' }}</td>
                    <td>{{ currency.displayCommaDotDecimalSeparator ? '#,###.##' : '#.###,##' }}</td>
                    <td>
                        <a title="Edit" [routerLink]="['currency/edit', currency.id]"><i class="far fa-edit"></i></a>
                        <i title="Delete" class="far fa-trash-alt" (click)="deleteCurrency(currency.id)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> 
    
</div>

