<div class="container mt-5">
    <h2>{{ title }} Currency</h2>
    <form (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" >
        <div class="row">
            <div class="form-group col-6">
                <label for="currencycountry">Country</label>
                <input #country="ngModel" type="text" id="currencycountry" name="currencycountry" 
                    class="form-control" [ngModel]="currencyToEdit.country" 
                    [ngClass]="{ 'is-invalid': f.submitted && country.invalid }" required>
                <div *ngIf="f.submitted && country.invalid" class="invalid-feedback">
                    <div *ngIf="country.errors.required">Country is required</div>
                </div>
            </div>
            <div class="form-group col-6">
                <label for="currencyname">Name</label>
                <input #name="ngModel" type="text" id="currencyname" name="currencyname" 
                    class="form-control" [ngModel]="currencyToEdit.currencyName" 
                    [ngClass]="{ 'is-invalid': f.submitted && name.invalid }"required>
                <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                    <div *ngIf="name.errors.required">Currency Name is required</div>
                </div>
            </div>    
            <div class="form-group col-6">
                <label for="currencycode">Code</label>
                <input #code="ngModel" type="text" name="currencycode" id="currencycode" 
                    class="form-control" [ngModel]="currencyToEdit.currencyCode" 
                    [ngClass]="{ 'is-invalid': f.submitted && code.invalid }" required>
                <div *ngIf="f.submitted && code.invalid" class="invalid-feedback">
                    <div *ngIf="code.errors.required">Code is required</div>
                </div>
            </div>
            
            <div class="form-group col-6">
                <label for="currencysymbol">Symbol</label>
                <input #symbol="ngModel" type="text" name="currencysymbol" id="currencysymbol" 
                    class="form-control" [ngModel]="currencyToEdit.currencySymbol" 
                    [ngClass]="{ 'is-invalid': f.submitted && symbol.invalid }" required>
                <div *ngIf="f.submitted && symbol.invalid" class="invalid-feedback">
                    <div *ngIf="symbol.errors.required">Symbol is required</div>
                </div>
            </div>
            <div class="form-group col-6">
                <label for="currencyCodeSymbol">Show Code/Symbol</label>
                <select #codeSymbol="ngModel" id="currencyCodeSymbol" name="currencyCodeSymbol" 
                    class="form-control" 
                    [ngModel]="currencyToEdit.displayCodeSymbol===null ? '' : currencyToEdit.displayCodeSymbol===true ? '1' : '0'"
                    [ngClass]="{ 'is-invalid': f.submitted && codeSymbol.invalid }" required>
                    <option value="" selected>Select</option>
                    <option value="1">Code</option>
                    <option value="0">Symbol</option>
                </select>
                <div *ngIf="f.submitted && codeSymbol.invalid" class="invalid-feedback">
                    <div *ngIf="codeSymbol.errors.required">This selector is required</div>
                </div>
            </div>
            <div class="form-group col-6">
                <label for="beforeafterprice">Show Before/After Price</label>
                <select #beforeAfter="ngModel" id="beforeafterprice" name="beforeafterprice" 
                    class="form-control"
                    [ngModel]="currencyToEdit.displayBeforeAfterPrice===null ? '' : currencyToEdit.displayBeforeAfterPrice===true ? '1' : '0'"
                    [ngClass]="{ 'is-invalid': f.submitted && beforeAfter.invalid }" required>
                    <option value="" selected>Select</option>                    
                    <option value="1">Before Price</option>
                    <option value="0">After Price</option>
                </select>
                <div *ngIf="f.submitted && beforeAfter.invalid" class="invalid-feedback">
                    <div *ngIf="beforeAfter.errors.required">This selector is required</div>
                </div>
            </div>
            <div class="form-group col-6">
                <label for="centsnocents">Show Cents/No Cents</label>
                <select #cents="ngModel" id="centsnocents" name="centsnocents" 
                    class="form-control"
                    [ngModel]="currencyToEdit.displayCents===null ? '' : currencyToEdit.displayCents===true ? '1' : '0'"
                    [ngClass]="{ 'is-invalid': f.submitted && cents.invalid }" required>
                    <option value="" selected>Select</option>
                    <option value="1">Cents</option>
                    <option value="0">No Cents</option>
                </select>
                <div *ngIf="f.submitted && cents.invalid" class="invalid-feedback">
                    <div *ngIf="cents.errors.required">This selector is required</div>
                </div>
            </div>
            <div class="form-group col-6">
                <label for="currencyformat">Currency Format</label>
                <select #currencyFormat="ngModel" id="currencyformat" name="currencyformat" class="form-control"
                    [ngModel]="currencyToEdit.displayCommaDotDecimalSeparator===null ? '' : currencyToEdit.displayCommaDotDecimalSeparator===true ? '1' : '0'"
                    [ngClass]="{'is-invalid' : f.submitted && currencyFormat.invalid }" required>
                    <option value="" selected>Select a currency format</option>
                    <option value="1">#,###.##</option>
                    <option value="0">#.###,##</option>
                </select>
                <div *ngIf="f.submitted && currencyFormat.invalid" class="invalid-feedback">
                        <div *ngIf="currencyFormat.errors.required">Currrency Format is required</div>
                    </div>
            </div>
            <div class="form-group col-12 mt-3">
                <button type="submit" class="btn btn-primary">{{ title }}</button>
            </div>
        </div>
    </form>
</div>
